<h1><%= @city.name %></h1>

<%= image_tag @city.photo, class: 'show-photo' %><br>

<% @city.posts.each do |post| %>
	<%= link_to post.title, post_path(post.id) %>
<% end %>

<%= link_to image_tag("Pencil.png", border: 0) + "Make a Post", new_post_path %>
